body { font-family: 'Helvetica' }
table {
  margin: 0 auto;
  border-radius:10px;
}
td {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  font-size: 8em;
}

#red{
  border: 1px solid red;
}

#blue{
  border: 1px solid blue;
}

#green{
  border: 1px solid green;
}

#yellow{
  border: 1px solid yellow;
}


.displayMessage{
  margin-top: 65px;
}
